<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="C:/Users/Ashok_Arasu/Desktop/Java practice/IntelliJ/Frameworks/TestNG/test-one">
            <classes>
                <class name="testCases.TC001_SampleTest"/>
                <class name="testCases.TC002_SampleTest"/>
                <class name="testCases.TC003_SampleTest"/>
            </classes>
        </test>
</suite>